.signUpScreen {  
    justify-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    background: -webkit-linear-gradient(135deg, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
}
