.signUpForm {   
    width: 400px;
    background-color: rgb(99, 99, 99);
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 8px 16px rgba(0,0,0,0.25);
}

.welcomeText {
    color: white;
}

.toastMessageBackground {
    background: #999999;
}