.newNote {
    display: flex;
    justify-content: center;
    align-content: center;
}

.form {
    width: 70vw;
}

.formButtonWrapper {
    display: flex;
    justify-content: center;
}

.inputBackground {
    background-color: #d8d8d8;
}